<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/grid.css">
    <link rel="stylesheet"  href="/css/normalize.css">
    <link rel="stylesheet"  href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="ad_upper">
        <h1>DPS Admin pannel</h1>
    </div>
    <div class="ad_nav">
        <ul>
            <li><a href="/notice/admin/notice">Notice</a></li>
            <li><a href="/formlist">Admission</a></li>
            <li><a href="/fee_list">Fees</a></li>
            <li><a href="/admingallery">gallery</a></li>
            <li><a href="/admin_message">P & D Messages</a></li>
            
        </ul>
        
    </div>
    <div style="text-align: center;padding: 3% 0;">
        <a class="btn btn_trans_green  " href="/auth/logout">Logout</a>
      </div>
 