<div class="footer">
    <div class="row">
        <div class="col span-1-of-3 footer_col">
            <img src="img/logo.png" alt="">
            <h3>DELHI PUBLIC SCHOOL</h3>
            <p>Pakur,Jharkhand</p>
            <a href="http://"><i class="fas fa-envelope"></i>info@dps.in</a><br>
            <a href="http://"><i class="fas fa-phone"></i>808452784</a>

        </div>
        <div class="col span-1-of-3 footer_col">
            <h3>Quick links</h3>
            <ul>
                <li><a href="">Admission</a></li>
                <li><a href="">Facullties</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Achievements</a></li>
            </ul>

        </div>
        <div class="col span-1-of-3 footer_colu">
            <h3>Social links</h3>
            <a href=""><i class="fab fa-facebook"></i></a><br>
            <a href=""><i class="fab fa-twitter-square"></i></a><br>
            <a href=""><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
<div class="credits">
    <p>Copyright © 2020 Delhi Public School. All Rights Reserved. Developed and maintained by d&d</p>
</div>
<script src="/js/main.js"></script>


</body>
</html>