<%- include('partials/admin_header')%>
 <h2 style="padding: 2% 0;">Add Picture to the gallery</h2>
<form style="padding: 2% 4%;" action="" method="post" encType="multipart/form-data">
<label for="title" >Title</label>
<input style="margin: 2% 0;" type="text" id="title" name="title"><br>
<label for="thumb" >Thumbnail Pic</label>
<input style="margin: 2% 0;" type="file" name="thumb" id="thumb"><br>
<button type="submit">Add</button>
</form>
</body>
</html>