<%- include('partials/admin_header')%>
<div style="padding: 2% 3%;">
    <h1>Add Director Message</h1>
     <form action="" method="post">
         <label for="heading" style="margin: 2% 2%;">Heading:</label><br>
        <input type="text" id='heading' name="heading" /><br>
        <label for="body" style="margin: 2% 2%;">Body:</label><br>
        <textarea name="body" id="body" cols="80" rows="10"></textarea><br>
        <input type='submit' value='Upload!' />
     </form>
</div>
</body>
</html>