<%- include('partials/admin_header')%>
<div style="padding: 2% 3%;">
    <h1>Add  Message</h1>
     <ul>
         <li><a href="/admin_message/principal_msg"> Principal's Message</a></li>
         <li><a href="/admin_message/director_msg"> Director's Message</a></li>
     </ul>
</div>
</body>
</html>