<%- include('partials/header')%>
<h2 style="padding: 2% 0;">Contact Us</h2>
 <p style="padding: 1% 4%;">
    Delhi Public School <br>
Malipara , Near New Police Line <br>
P.O. – Pakur, P.S. – Pakur <br>
Dist – Pakur Pin – 816107 <br>
Jharkhand, India <br> <br>
Mobile: +91 8051256958, +91 9431137103 <br> <br>
Email: info@dpspakur.org <br>
Website: http://www.dpspakur.org <br> <br>
Principal Contact NO: +91 8084527845
</p>

<iframe style="padding: 1% 5%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3626.212996476497!2d87.8292375149987!3d24.650795784153267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fa69b4b128d3cb%3A0x4550fd815c93031f!2sDelhi%20Public%20School%2C%20Pakur!5e0!3m2!1sen!2sin!4v1606839044960!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<%- include('partials/footer') %>