<%- include('partials/header')%>
<div class="curr">
    <h2 style="padding: 2% 0;">CURRICULUM DETAILS</h2>
<p style="padding: 2% 2%;">D.P.S. holds classes from Beginners to VIIth, the medium of instruction is English, The school always hold curricular, co-curriclar and extra-curricular and extra-curricular programs like Music and Dance, Dramatics, Arts & Crafts, Indoor & Outdoor games, P.T., Yoga practice, Natural health training, Handicrafts etc. To encourage the student to avail themselves of many opportunities for total growth. Delhi Public School Kamtaul believes that academic qualification alone do not make an individual truly educated. The classrooms are well equipped with healthy atmosphere and education methods.</p>
</div>

<%- include('partials/footer') %>