<%- include('partials/header')%>
<div class="heading">
    <h1> <span>DIRECTOR'S</span> MESSAGE</h1>
    <p><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i></p>
</div>
<div class=" dm_pic" style="padding: 2% 0; width: 40%;" >
    <img src="img/banner-3-modifyed.jpg" alt="" >
    <p>Dr Bimlendra Singh <br>
        (director)</p>
</div>
<div class="  dm_message" >
    <h2><%= msg.director.heading%></h2>
     
    <p><%= msg.director.body%></p>
     
</div>
<%- include('partials/footer') %>