<%- include('partials/admin_header')%>
 <ul style="padding: 5% 3%; ">
     <li><a style="text-decoration: none;color: #398463;" href="/admission_fee_list">Admission Fee List</a></li>
     <li><a style="text-decoration: none;color: #398463;" href="/tuition_fee_list">Tuition Fee List</a></li>
 </ul>

</body>
</html>
