<%- include('partials/header')%>
<h2 style="padding: 2% 0;">FEE DETAILS</h2>
<h3 style="padding: 1% 3%;">Attachments links are given below for fee details</h3>
<ul style="padding: 1% 3%;">
    <li><a style="color: #398463;" href="/files/procedure/" download>Fee details</a></li>
</ul>
<%- include('partials/footer') %>