<%- include('partials/admin_header')%>
 <div class="formList">
    <% Users.forEach(function(user){ %>
        <ul>
            <li><a href="/form/<%= user.id%>" > <%= user.name ||user.eleven.name%></a></li>
        <% }); %>
        </ul>
 </div>
    
</body>
</html>