<%- include('partials/header')%>
        <div class="photo_gallery_content">
            <p>Big Playgrounds with all outdoor games stuffs</p>
            <div class="imgs row">
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG-20200724-WA0088.jpg" alt=""></a>    
                    </div>
                    
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG-20200724-WA0091.jpg" alt=""></a>
                    </div>
                    
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG-20200724-WA0107.jpg" alt=""></a>
                    </div>
                   
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG20200128093105.jpg" alt=""></a>
                    </div>
                   
                </div>
            </div>
            <div class="imgs row">
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG20200128113110.jpg" alt=""></a>
                    </div>
                    
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG20200128113429.jpg" alt=""></a>
                    </div>
                    
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/IMG_20180627_094420352_BURST000_COVER_TOP.jpg" alt=""></a>
                    </div>
                    
                </div>
                <div class="col span-1-of-4 ">
                    <div class="photo">
                        <a href="http://"><img src="img/WhatsApp-Image-2018-01-08-at-12.49.21-PM.jpeg" alt=""></a>
                    </div>
                    
                </div>
            </div>
             
        </div>

        </div>
 <%- include('partials/footer') %>