<%- include('partials/header')%>
<div class="heading">
    <h1> <span>PRINCIPAL'S</span> MESSAGE</h1>
    <p><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i><i class="fas fa-minus"></i></p>
</div>
<div class=" dm_pic" style="padding: 2% 0; width: 40%;" >
    <img src="img/slider5.jpg" alt="" >
    <p>Dr Bibhudatta Mohanty <br>
        (Principal)</p>
</div>
<div class="  dm_message" >
    <h2><%= msg.principal.heading%></h2>
     
    <p><%= msg.principal.body%></p>
     
</div>
<%- include('partials/footer') %>