<%- include('partials/header')%>
<h2 style="padding: 2% 0;">PROCEDURE</h2>
<h3 style="padding: 1% 3%;">Attachments links are given below please go through the pdfs</h3>
<ul style="padding: 1% 3%;">
    <li><a style="color: #398463;" href="/files/Syllabus/Eligibility Criteria for Class XI.pdf" download>Syllabus for class Nursery to XI</a></li>
</ul>
<%- include('partials/footer') %>