<%- include('partials/header')%>
<h2 style="padding: 2% 0;">Recognition and NOC</h2>
<h3 style="padding: 1% 3%;">Attachments links are given below please go through the pdfs</h3>
<ul style="padding: 1% 3%;">
    <li><a style="color: #398463;" href="/files/certificates/Academic Calender 2021-22.pdf" download>Academic Calender 2021-22</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Building Saftey Certificate.pdf" download>Building Saftey Certificate</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Deed of Trust.pdf" download>Deed of Trust</a></li>
    <li><a style="color: #398463;" href="/files/certificates/DEO Certificate.pdf" download>DEO Certificate</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Fee Structure 2021-22.pdf" download>Fee Structure 2021-22</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Fire Safety Certificate-dps.pdf" download>Fire Saftey Certificate</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Last three Years Board Result.pdf" download>Last three Years Board Result</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Letter of Upgradtion to Senior Secondary.pdf" download>Letter of Upgradtion to Senior Secondary</a></li>
    <li><a style="color: #398463;" href="/files/certificates/NOC.pdf" download>NOC.pdf</a></li>
    <li><a style="color: #398463;" href="/files/certificates/PTA.pdf" download>PTA.pdf</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Recognition Certificate.pdf" download>Recognition Certificate</a></li>
    <li><a style="color: #398463;" href="/files/certificates/SMC.pdf" download>SMC.pdf</a></li>
    <li><a style="color: #398463;" href="/files/certificates/WATER, HEALTH AND SANITATION CERTIFICATE.pdf" download>WATER HEALTH AND SANITATION CERTIFICATE</a></li>
    <li><a style="color: #398463;" href="/files/certificates/Mandatory Public Disclosure.pdf" download>Mandatory Public Disclosure</a></li>
    <li><a style="color: #398463;" href="/files/certificates/award.jpeg" download>Swach Vidyalaya puraskar</a></li>
</ul>
<%- include('partials/footer') %>