<%- include('partials/admin_header')%>
<div style="padding: 2% 3%;">
    <h2><%= msg.principal.heading%></h2>
    <p><%= msg.principal.body%></p>
    <a href="/admin_message/add_principal_message">Edit</a>
</div>
</body>
</html>