<%- include('partials/header')%>
<h2 style="padding: 2% 0;">SYLLABUS</h2>
<ul style="padding: 1% 3%;">
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDSocial_Science_Sec_2020-21.pdf" download>REVISEDSocial_Science_Sec_2020-21</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDScience_Sec_2020-21.pdf " download>REVISEDScience_Sec_2020-21</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDSanskrit_Sec_2020-21.pdf " download>REVISEDREVISEDSanskrit_Sec_2020-21.pdfSanskrit_Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDPhysics_2020-21.pdf " download>REVISEDPhysics_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDPhysicalEducation_Sr.Sec_2020-21 (1).pdf " download>REVISEDPhysicalEducation_Sr.Sec_2020-21 (1).pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDMathematics_Sr.Sec_2020-21.pdf " download>REVISEDMathematics_Sr.Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDMathematics_Sec_2020-21.pdf " download>REVISEDMathematics_Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDHindi_A_Sec_2020-21.pdf " download>REVISEDHindi_A_Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDHindi Core 2020-21.pdf " download>REVISEDHindi Core 2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDEnglish_Sec_2020-21.pdf" download>REVISEDEnglish_Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDEng-Core_2020-21.pdf " download>REVISEDEng-Core_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDEconomics_2020-21.pdf " download>REVISEDEconomics_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDComputer_Science_Sr.Sec_2020-21 (1).pdf " download>REVISEDComputer_Science_Sr.Sec_2020-21 (1).pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDChemistry_2020-21.pdf" download>REVISEDChemistry_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDBusiness Studies_2020-21.pdf " download>REVISEDBusiness Studies_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDBengali_Sec_2020-21.pdf" download>REVISEDBengali_Sec_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/REVISEDAccountancy_2020-21.pdf " download>REVISEDAccountancy_2020-21.pdf</a></li>
    <li><a style="color: #398463;" href="/files/Syllabus/402-revisedINFO_TECH.pdf" download>402-revisedINFO_TECH.pdf</a></li>
  
</ul>
<%- include('partials/footer') %>